h1{
    background-color: rgb(55, 55, 236);
    background-size: 100%;
    color: white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 8px;
  
}
form{
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
}
textarea{
    height:100%;
    width:100%;
    line-height: 1.5;
    display: inline-block;
    resize: both;
        
}

